<div class="help-full-links">
  <ul class="list-unstyled">
    <li>Here are some helpful links instead:</li>
    <li><a routerLink="/home/dashboard">Home</a></li>
    <li><a routerLink="/forms/basic">Forms</a></li>
    <li><a routerLink="/grids/basic">Grids</a></li>
  </ul>
</div>
<div class="error-page-wrap">

  <article class="error-page gradient">
    <!--<hgroup>-->
      <h1>404</h1>
      <h2>oops! page not found</h2>
    <!--</hgroup>-->
    <a routerLink="/home/dashboard" title="Back to site" class="error-back">back</a>
  </article>
</div>

