<!--<ul id="menu" [ngClass]="{ 'show-menu': show}">-->
<ng-k-navbar *ngIf="isUserLoggedIn | async">
  <ul class="ng-k-menu other-options">
    <li><i class="fa fa-sign-out in-out" aria-hidden="true" (click)="logout()"></i></li>
  </ul>
</ng-k-navbar>
<div id='main'>
  <article>
    <router-outlet></router-outlet>
  </article>
  <aside *ngIf="isUserLoggedIn | async">aside</aside>
</div>
<footer>
  <i
    *ngIf="showFooter"
    class="fa fa-compress collapsible"
    aria-hidden="true"
    (click)="showFooter = !showFooter"
  ></i>
  <i
    *ngIf="!showFooter"
    class="fa fa-expand collapsible"
    aria-hidden="true"
    (click)="showFooter = !showFooter"
  ></i>
  <div class="container" *ngIf="showFooter">
    <div class="container">
      © 2017 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
