$kendo-bg-color: #EB5B51;
$body-bg: #EB7575;
$form-bg: #13232f;
$white: #ffffff;
$kendo-bg-color-light: lighten($kendo-bg-color,5%);
$kendo-bg-color-dark: darken($kendo-bg-color,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;
