$kendo-bg-color: #EB5B51;
$kendo-main-color: #EB5B51;
$body-bg: #f3f3f3;
$white: #ffffff;
$kendo-bg-color-light: lighten($kendo-bg-color,5%);
$kendo-bg-color-dark: darken($kendo-bg-color,5%);
$kendo-border-color: #13232f;
$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;
