<nav>
  <label for="show-menu" class="show-menu">Menu</label>
  <input type="checkbox" id="show-menu" role="button">
  <ul class="ng-k-menu">
    <li *ngFor="let route of routes">
      <a routerLink="/login" routerLinkActive="active" *ngIf="route.children">{{route.label}} ￬</a>
      <a routerLink="/login" routerLinkActive="active" *ngIf="!route.children">{{route.label}}</a>
      <ul class="hidden" *ngIf="route.children">
        <li *ngFor="let childRoute of route.children">
          <a routerLink="{{childRoute.path}}" routerLinkActive="active">{{childRoute.label}}</a>
        </li>
      </ul>
    </li>
    <!--<li>-->
      <!--<a href="#">About ￬</a>-->
      <!--<ul class="hidden">-->
        <!--<li><a href="#">Who We Are</a></li>-->
        <!--<li><a href="#">What We Do</a></li>-->
      <!--</ul>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="#">Portfolio ￬</a>-->
      <!--<ul class="hidden">-->
        <!--<li><a href="#">Photography</a></li>-->
        <!--<li><a href="#">Web & User Interface Design</a></li>-->
        <!--<li><a href="#">Illustration</a></li>-->
      <!--</ul>-->
    <!--</li>-->
    <!--<li><a href="#">News</a></li>-->
    <!--<li><a href="#">Contact</a></li>-->
  </ul>
  <ng-content></ng-content>
</nav>
