//@import "compass/css3";
@import "../shared/styles/kendo-custom-default";

.login-form {
  border: 2px solid $kendo-border-color;
  max-width: 400px;
  margin: 80px auto;
  border-radius: 5px;
  box-shadow: 5px 2px 2px $kendo-border-color;
  background-color: #fff;
  .login-control {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    a {
      color: $kendo-main-color;
      text-decoration: underline;
      margin-right: 10px;
    }
  }
}
