<div class="login-form">
  <form class="k-form" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <legend *ngIf="isNewUser">Sign Up</legend>
    <legend *ngIf="!isNewUser">Sign In</legend>
    <label class="k-form-field">
        <span>
          User name <span class="k-required">*</span>
        </span>
      <input class="k-textbox" placeholder="Your Username" ngModel required #username="ngModel" name="username"/>
    </label>
    <label class="k-form-field">
        <span>
          Password<span class="k-field-info k-required">required</span>
        </span>
      <input class="k-textbox" placeholder="Your Password" type="password" ngModel required #password="ngModel"
             name="password"/>
    </label>
    <label class="k-form-field" *ngIf="isNewUser">
        <span>
          Email <span class="k-field-info">optional</span>
        </span>
      <input class="k-textbox" placeholder="Your Company" ngModel #email="ngModel" name="email" [email]="true"/>
    </label>
    <div class="login-control">
      <a (click)="toggleSignIn(true)">Sign Up</a>
      <a (click)="toggleSignIn(false)">Sign In</a>
      <br/>
      <button type="submit" kendoButton>Submit</button>
    </div>
  </form>
</div>
